body {
	font-size: 16px;
	font-family: 'Quattrocento', serif;
}

.hello,
h1, h2, h3, h4 {
	font-family: 'Heebo', sans-serif;
	font-weight: 700;
}

h5, h6,
p,
li {
	font-family: 'Quattrocento', serif;
}

.links {
	font-family: 'Heebo', sans-serif;
}

.projects h5 {
	font-weight: 600;
	font-size: 1.1rem;
}

img {
	width: 100%;
}

.content img {
	margin-top: 1rem;
}

.container {
	max-width: 700px;
	max-height: 500px;
	padding: 0px 0px;
}

.header, .links {
	display: flex;
	justify-content: space-between;
}

.header a {
	margin-left: 1rem;
	margin-right: 1rem;
}

.resume a,
.about a {
	margin: 0px 0px;
}

.header {
	margin-top: 3.5rem;
	margin-bottom: 0.4rem;
	height: 2rem;
}

.current-page {
	font-weight: 700;
}

.row {
	margin-bottom: 1.5rem;
	margin-top: 1.5rem;
}

.project {
	margin-bottom: 1.5rem;
}

.project h5 {
	margin-bottom: 0.5rem;
	margin-top: 0.5rem;
	font-size: 1.1rem;
}

.project .project-thumbnail {
	margin-bottom: 1rem;
}

.thumbnail-img:hover {
	opacity: 0.7;
}

a,
a:hover {
	color: black;
	text-decoration: none;
}

a:hover {
	font-weight: bold;
}

.links a:hover {
	font-weight: 400;
}

a:active {
	font-weight: bold;
}

.project-header {
	margin-top: 56px;
	margin-bottom: 2rem;
}

.akp-header {
	align-items: center;
}

.akp-header h4 {
	font-size: 24px;
}

.project:hover h5 {
	font-weight: 700;
}

.content-title,
.content {
	margin-bottom: 1.5rem;
}

.content p,
.content ol {
	margin-top: 2rem;
}

.content h6 {
	font-size: 3rem;
	font-family: 'Heebo', sans-serif;
	margin-top: 4rem;
	margin-bottom: 1rem;
}

.content .caption {
	text-align: center;
	font-style: italic;
	margin-top: 0rem;
}

.deliverables-container .row img {
	width: 1%;
	height: 1%;
}

.content p {
		line-height: 3rem;
}

.deliverable {
	margin-bottom: 3.5rem;
	text-align: center;
}

.table-tent {
	width: 50%;
}

.slick-prev:before, .slick-next:before {
	color: gray;
}

.slick-slide {
  outline: none;
	margin: 0px 5px;
}

.home-link {
	margin-top: 3.5rem;
	text-decoration: underline;
}

i {
	font-style: italic;
}

.container .project-thumbnail {
	height: 10rem;
	text-align: center;
  box-shadow: 0 -1px 12px 0 rgba(0, 0, 0, 0.33),
 						  0 10px 23px 0 rgba(0, 0, 0, 0.1);
}

.thumbnail-img:hover {
	background-color: white;
}

.major-link a {
	border-bottom: 2px dashed #3fbfea;
}

.minor-link a {
	border-bottom: 2px dashed #5abb5a;
}

.resume-link a {
	border-bottom: 2px dashed #f87f7f;
}

.mail-link {
	border-bottom: 2px dashed #3fa3be;
}

.major-link a:hover {
	color: #48b8de;
}

.minor-link a:hover {
	color: #529e52;
}

.resume-link a:hover {
	color: #ce7979;
}

.mail-link:hover {
	color: #3fa3be;
}

.intro-link a {
	font-weight: 400;
}

.art {
	margin-bottom: 2rem;
}

.info {
	display: none;
}

.bruinwalk {
	font-size: 1.15rem;
}

.prof {
	width: 50%;
	margin-bottom: 1.6rem;
}

.project-container-sm {
	display: none;
}

@media only screen and (max-width: 767px) {
	.container {
		max-width: 85%;
	}
}

@media only screen and (min-width: 576px) and (max-width: 677px) {
	.container .project-thumbnail {
		height: 8rem;
	}
	.project h5 {
		font-size: 1rem;
	}
	.project h6 {
		font-size: 0.85rem;
	}
}

@media only screen and (max-width: 495px) {
	.project {
		margin-bottom: 2rem;
	}
	.content p {
		line-height: 2.3rem;
	}
}

@media only screen and (max-width: 441px) {
	.project-container-lg {
		display: none;
	}
	.project-container-sm {
		display: block;
	}
	.container .project-thumbnail{
		height: 80%;
	}
	h4, a {
		font-size: 1.2rem;
	}
	.links {
		justify-content: space-around;
	}
}

@media only screen and (max-width: 426px) {
	body, a, h6 {
		font-size: 14px;
	}
	.akp-header .links a {
		font-size: 1.25rem;
	}
	.links a {
		font-size: 0.85rem;
	}
}
